<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
    	<typeAlias type="kr.co.member.model.vo.Member" alias="member"/>
    	<typeAlias type="kr.co.collection.model.vo.Studio" alias="studio"/>
    	<typeAlias type="kr.co.collection.model.vo.StudioSelect" alias="studioSelect"/>
    	<typeAlias type="kr.co.collection.model.vo.Makeup" alias="makeup"/>
    	<typeAlias type="kr.co.collection.model.vo.Dress" alias="dress"/>
    	<typeAlias type="kr.co.review.model.vo.Review" alias="review"/>
    	<typeAlias type="kr.co.reservation.model.vo.Reservation" alias="reservation"/>
    	<typeAlias type="kr.co.scrapbook.model.vo.Scrapbook" alias="scrapbook"/>
    	<typeAlias type="kr.co.goods.model.vo.Goods" alias="goods"/>
    	<typeAlias type="kr.co.gallery.model.vo.Gallery" alias="gallery"/>
    	<typeAlias type="kr.co.simulator.model.vo.Simulator" alias="simulator"/>
    	<typeAlias type="kr.co.simulator.model.vo.SimulatorSelect" alias="simulatorSelect"/>  
    	<typeAlias type="kr.co.hall.vo.Hall" alias="hall"/>    
		<typeAlias type="kr.co.test.vo.Test" alias="test"/>
		<typeAlias type="kr.co.reservation.model.vo.Reservation" alias="reservation"/>
    </typeAliases>

</configuration>


