<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
    	<typeAlias type="kr.co.member.model.vo.Member" alias="member"/>
    	<typeAlias type="kr.co.member.model.vo.MemberStudio" alias="memberstudio"/>
    	<typeAlias type="kr.co.member.model.vo.MemberDress" alias="memberdress"/>
    	<typeAlias type="kr.co.member.model.vo.MemberMakeup" alias="membermakeup"/>
    	<typeAlias type="kr.co.member.model.vo.MemberHall" alias="memberhall"/>
    </typeAliases>
</configuration>