@charset "UTF-8";
/* *******************************************************
 * filename : content.css
 * description : 전체 컨텐츠 CSS
 * date : 2019-05-22
******************************************************** */

/* ****************** 공통 컨텐츠 클래스 ********************** */
#content-wrapper{padding:100px 0;}
.comm-content-tit{position:relative; font-size:26px; color:#2b2b2b; text-align:center; font-weight:500; padding:20px 0; margin-bottom:50px;}
.comm-content-tit:after{display:block; content:""; width:50px; height:4px; /*background-color:rgba(254,67,30);*/background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%); position:absolute; bottom:0; left:50%; margin-left:-25px;}

/* 공통 :: PAGING */
.paging{width:100%; text-align:center; margin:30px 0;}
.paging a, .paging span{display:inline-block; vertical-align:middle; width:30px; height:30px; border:1px solid #ddd; text-align:center; font-size:12px; line-height:30px; color:#868686; letter-spacing:-0.25px; margin: 2px 0; background:#fff;}
.paging .cur{border:1px solid #4b4b4b; background-color:#4b4b4b; color:#fff;}
.paging a.paging-arrow{line-height:28px;}
.paging i{vertical-align:middle; color:inherit}

/* 공통 :: SEARCH BOX */
.board-search-box{text-align:center; background-color:#f9f9f9; padding:30px 0; border:1px solid #ddd; }
.board-search-box select{width:20%; max-width:150px; height:40px; border:1px solid #ccc; background-color:#fff; }
.board-search-box .search-word{width:30%; max-width:200px; height:40px; border:1px solid #ccc; border-right:0; padding:0; text-indent:10px; color:#868686; font-size:13px; vertical-align:middle;}
.board-search-box .search-word:focus{color:#333;}
.board-search-box .bbs-search-btn{margin:0px; border:0; min-width:40px; padding:0 5px; height:40px; margin-left:-4px; background:#333; color:#fff; cursor:pointer; vertical-align:top; font-size:14px;}
.board-search-box .bbs-search-btn i{line-height:40px;}

/* 공통 :: Table */
.common-tbl-box{padding:70px 50px; background-color:#f8f8f8;}
.comm-login-box{max-width:800px; margin:0 auto 100px;}
.comm-tbl{width:100%; margin:0 auto; background-color:#fff;}
.comm-tbl th, .comm-tbl td{border:1px solid #ddd; padding:15px; text-align:left; font-weight:normal; line-height:20px;}
.comm-tbl tr:first-child th, .comm-tbl tr:first-child td{border-top:2px solid #faaca8;}
.comm-tbl tr:first-child th, .comm-tbl tr:first-child td{border-top:2px solid #faaca8;}
.comm-tbl th{font-size:17px; line-height:20px; font-weight:500;}
.comm-tbl input[type='text'], .comm-tbl input[type='password'], .comm-tbl input[type='file'], .comm-tbl input[type='number'],
.comm-tbl select, .comm-tbl textarea{padding:7px; border:1px solid #ddd; border-radius:4px; width:90%;}
.comm-tbl textarea{resize: none;}
.comm-tbl input[type='text'].small, .comm-tbl input[type='password'].small, .comm-tbl input[type='file'].small, .comm-tbl input[type='number'].small{width:25%;}
.comm-tbl input[type='text'].short, .comm-tbl input[type='password'].short, .comm-tbl input[type='file'].short, .comm-tbl input[type='number'].short{width:30%;}
.comm-tbl input[type='text'].middle, .comm-tbl input[type='password'].middle, .comm-tbl select.middle, .comm-tbl input[type='number'].middle{width:40%;}
.comm-tbl .comment{padding-top:5px; font-size:12px; color:#888;}
.comm-tbl .none{padding:40px 0; font-size:16px;}
.common-tbl-box .none{font-size:20px; font-weight:500; text-align:center; padding:80px 0;}
.comm-tbl.type2{width:100%; max-width:none;}
.comm-tbl.type2 th, .comm-tbl.type2 td{padding:10px;}
.comm-tbl.type2 tr:first-child td{border-top:1px solid #ddd;}
.comm-tbl.type2 th{text-align:center; font-size:16px; border-top:2px solid rgba(254,67,30);}
.comm-tbl.type2 td{color:#2b2b2b; font-size:14px; text-align:center;}
.comm-tbl.type2 tr:hover td{background-color:rgba(254,67,30,0.05);}
.comm-tbl .delete-btn{padding: 5px 10px;border-radius: 3px;color:white;background-color: #333}
.comm-tbl .ok-btn{padding: 5px 10px;border-radius: 3px;color:white;background-color: #333}
.comm-tbl .agree-btn{padding: 5px 10px;border-radius: 3px;color:white;background-color: rgba(254,67,30)}
.comm-tbl .reject-btn{padding: 5px 10px;border-radius: 3px;color:white;background-color: #333}
.comm-tbl td.answerStay{color:gray}
.comm-tbl td.answerComplete{color:blue}

/* 공통 :: Table :: 버튼 */
.common-tbl-btn-group{padding-top:30px; text-align:center;}
.common-tbl-btn-group.right{text-align:right;}
.common-tbl-btn-group.join-btn-group{display:inline-block; text-align:right; padding-top:0; width:auto; max-width:20%; vertical-align:middle;}
.common-tbl-btn-group > button{width:130px; height:50px; border-radius:5px; font-size:17px; color:#fff; margin:0 10px;}
.common-tbl-btn-group > button.btn-style1{/*background: #f05053; 
background: -moz-linear-gradient(top, #f05053 0%, #e1eec3 100%); 
background: -webkit-linear-gradient(top, #f05053 0%,#e1eec3 100%); 
background: linear-gradient(to bottom, #f05053 0%,#e1eec3 100%);*/
/*background-image: linear-gradient(to top, #f5efef 0%, #feada6 100%);*/
background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);}
.common-tbl-btn-group > button.btn-style2{background-color:#444;}
.common-tbl-btn-group > button.btn-style3{background-color:#888;}
.common-tbl-btn-group > button.btn-style4{background-color:#333;}
.common-tbl-btn-group > button.big{width:300px;}
.common-tbl-btn-group > button.small{width:100px; height:35px; font-size:15px;}

/* 로그인 */
.login-tbl{float:left; width:75%;}
.login-tbl-btn-group{float:right; width:25%; padding-top:0; text-align:right;}
.login-tbl-btn-group > button{width:80%; height:45px; }
.login-tbl-btn-group .login-btn{margin-bottom:4px; height:85px;}




/* ****************** 웨딩 계산기 ********************** */
.simulator-box{padding:100px 0; text-align:center;}
.simulator-box.type2{padding:70px 0 50px 0; text-align:left;}
.simulator-tit{font-size:30px; margin-bottom:15px; text-align:center;}
.simulator-sub-tit{font-size:20px; line-height:30px; color:#bbb; margin-bottom:20px; text-align:center;}
.simulator-con{border:1px solid #ddd; border-radius:10px; padding:25px 15px; max-width:450px; margin:0 auto;}
.simulator-tbl{width:100%; }
.simulator-tbl tr:first-child th, .simulator-tbl tr:first-child td{border-top:0;}
.simulator-tbl th, .simulator-tbl td{padding:10px; border:0;}
.simulator-tbl th{text-align:left; font-size:16px; font-weight:500;}
.simulator-tbl input[type='text'].wedding-date{width:80%;}

.simulator-select-list-no, .simulator-select-list-code, .simulator-select-list-tel{display:none;}
.simulator-select-tit{font-size:20px; line-height:30px; color:#2d2d2d; font-weight:500; padding:20px 0;}
.simulator-select-comment{padding:20px; background:#f5f5f5; margin-bottom:50px;}
.simulator-select-txt{padding-left:10px; position:relative; font-size:13px; line-height:20px; }
.simulator-select-txt:before{position:absolute; content:""; width:3px; height:3px; background:#333; border-radius:6px; top:9px; left:0;}
.simulator-select-con{position:relative; margin-bottom:30px;}
.simulator-select-con .none{padding:50px 0; text-align:center; font-size:18px; color:#333; background:#f8f8f8;}
.simulator-select-group .more-btn{width:40px; height:40px; text-align:center; border:1px solid #ddd; position:absolute; top:-55px; right:0; border-radius:3px; 
background:#f8f8f8 url(/resources/img/more.png) no-repeat center center; background-size:30px; transition:all 0.5s;}
.simulator-select-group .more-btn:hover{border:1px solid #666; transform:rotate(90deg); transition:all 0.5s; }
.simulator-select-group .none-btn{position:absolute; top:-55px; right:55px; height:40px; text-align:center; border:1px solid #ddd; border-radius:3px; padding:0 10px 0 35px;
background:#f8f8f8 url(/resources/img/none_1.png) no-repeat 7px center; background-size:25px; transition:all 0.5s;}
.simulator-select-group .none-btn:hover,
.simulator-select-group .none-btn.selected{border:1px solid #666; background:#666 url(/resources/img/none_2.png) no-repeat 7px center; background-size:25px; color:#fff; transition:all 0.5s;}
.simulator-select-group-list.selected .simulator-select-btn-group{display:none;}
.simulator-select-list-con{float:left; width:360px; margin:10px 20px; }
.simulator-select-list-con.selected{position:relative; }
.simulator-select-list-con.selected:before{position:absolute; top:0; left:0; bottom:0; right:0; content:''; border:2px solid #888; z-index:1;}
.simulator-select-list{box-shadow:3px 3px 5px #ddd; border-radius:3px;}
.simulator-select-img-thum{position:relative; padding-top:61.2%; overflow:hidden;}
.simulator-select-img-thum > span{position:absolute; top:0; left:0; right:0; bottom:0; font-size:0; text-indext:-9999px;}
.simulator-select-img-thum > span img{width:100%;}
.simulator-select-list-tit, .simulator-select-list-addr, .simulator-select-list-price, .simulator-select-list-tag{padding:0 20px;}
.simulator-select-list-tit{font-size:18px; line-height:24px; color:#666; font-weight:500; margin:5px 0;}
.simulator-select-list-addr{font-size:13px; line-height:20px; color:#888; margin-bottom:5px;}
.simulator-select-list-price{padding:20px; text-align:right; background:#f5f5f5; color:#666;}
.simulator-select-list-price em{display:none;}
.simulator-select-list-price > b{font-size:18px; font-weight:500;}
.simulator-select-list-tag{padding:10px 20px; color:#888; line-height:20px;}
.simulator-select-btn-group{padding:15px 10px; text-align:center;}
.simulator-select-btn-group > a, .simulator-select-btn-group > button{display:inline-block; width:150px; height:35px; border-radius:3px; border:1px solid #ddd; margin:0 7px; font-size:14px; color:#666; font-weight:500; 
background-color:#fff; transition:all 0.3s; vertical-align:middle; line-height:35px;}
.simulator-select-btn-group > a:hover, .simulator-select-btn-group > button:hover{background-color:#666; color:#fff; transition:all 0.3s;}
.slick-prev.slick-arrow, .slick-next.slick-arrow{position:absolute; top:50%; margin-top:-13px; z-index:9;}
.slick-prev.slick-arrow{left:-30px;}
.slick-next.slick-arrow{right:-30px;}

/* ****************** 웨딩 계산기 :: 장바구니 ********************** */
.cart-sideBar{position:relative;}
.cart-sideBar-btn{position:fixed; bottom:150px; right:50px; width:65px; height:65px; background:#888 url(/resources/img/cart.png) no-repeat center center; border-radius:10px; z-index:9; box-shadow:3px 3px 7px #ddd;}
.cart-sideBar-container{position:fixed; top:0; right:-310px; width:300px; height:100%; background:#fff; box-shadow:-3px 3px 10px #ddd; transition:right 0.4s;}
.cart-sideBar-btn.active{width:40px; height:40px; background:#ddd url(/resources/img/more.png) no-repeat center center; border-radius:40px; transform:rotate(45deg); top:20px; right:20px; bottom:auto; z-index:1000;}
.cart-sideBar-container.open{right:0; transition:right 0.4s; z-index:999;}
.cart-sideBar-inner{padding:20px; padding-right:10px; height:calc(100% - 40px);}
.cart-sideBar-inner > h2{padding:15px 0 20px; font-weight:500; border-bottom:1px solid #eee;}
.cart-sideBar-inner form{}
.selected-list{height:calc(100% - 55px);}
.selected-list form{height:calc(100% - 61px); overflow-y:auto;}
.selected-list li{float:none; max-width:98%; margin:10px 0;}
.selected-list .simulator-select-list-tit{padding:0 10px; font-size:16px; line-height:22px;}
.selected-list .simulator-select-list-price{padding:10px; font-size:11px;}
.selected-list .simulator-select-list-price > b{font-size:16px;}
.selected-list .simulator-select-btn-group,
.selected-list .simulator-select-list-addr,
.selected-list .simulator-select-list-tag{display:none;}
.go-simulation{position:absolute; bottom:20px; left:20px; width:260px; padding:15px; border-radius:5px; text-align:center; background:#ddd; font-size:16px; font-weight:500;}

/* ****************** 웨딩 계산기 :: 최종 계산 결과 ********************** */
.simulator-topInfo{padding:20px 0;}
.simulator-topInfo > dt, .simulator-topInfo > dd{float:left; font-size:14px; line-height:30px;}
.simulator-topInfo > dt{width:80px;}
.simulator-topInfo > dd{width:calc(100% - 80px);}
.simulator-topInfo > dd p{display:inline; padding-left:15px; font-size:17px; font-weight:500;}
.simulator-bottomInfo{border:1px solid #eee; padding:30px;}
.simulator-info-con{padding:20px 0; border-bottom:1px solid #eee;}
.simulator-info-con .none{padding:50px 0; text-align:center; font-size:18px; color:#333;}
.simulator-info-tit{font-size:16px; font-weight:500;}
.simulator-info-tit > span{display:inline-block; margin-right:7px; font-size:13px; padding:7px 10px; background:#eee; border-radius:5px; font-weight:400;}
.simulator-info-detail{padding-top:15px; display:table; width:100%;}
.simulator-info-detail > dt, .simulator-info-detail > dd{display:table-cell; vertical-align:middle;}
.simulator-info-detail > dt{width:33%;}
.simulator-info-detail > dd{width:67%; text-align:right;}
.simulator-info-img{position:relative; padding-top:61.2%; overflow:hidden; background:#eee;}
.simulator-info-img > span{position:absolute; top:0; left:0; bottom:0; right:0;}
.simulator-info-detail > dd p, .simulator-info-tag{font-size:15px; line-height:35px; color:#555; font-weight:500;}
.simulator-info-detail > dd p > b{font-size:18px;}
.simulator-info-tag{color:#888;}
.simulator-info-tag > span{margin-right:5px;}
.simulator-total-price{padding-top:20px; text-align:right;}
.simulator-total-price > h2{font-size:18px; line-height:35px; font-weight:500;}
.simulator-total-price > h2 strong{font-weight:500;}
.simulator-total-price > h2 p{font-size:22px; font-weight:600; color:rgb(254,67,30);}

/* ****************** 이용약관 ********************** */
.terms-tit{font-size: 18px;margin-bottom: 20px;font-weight:500;}
.terms-tit > span{color : #5cc2e4; margin-right:5px;}
.terms-box{height:250px; border:1px solid #faaca8; background:#fff; padding:20px; font-size:13px; line-height:25px; overflow-y:scroll;}
.terms-chk{margin-bottom:50px; padding-top:15px; font-size:14px; line-height:18px;}
.terms-tab-list{height:50px; text-align:center; line-height:50px;}
.terms-tab-list > .t_mid{float:left; width:calc(100%/3); height:50px; background:#fff;}
.terms-tab-list > .t_mid:hover{cursor:pointer;}
.terms-tab-list > .t_mid > h2{font-size:17px; font-weight:500;}
.terms-tab-con{border:1px solid #faaca8; height:250px; overflow-y:scroll; background:#fff;}
.terms-tab-con > .c_mid{ text-align:left; line-height:25px; padding:20px;}
/***********************팝업창********************************/
.popupView{position: fixed;z-index:1000;top: 50%;left: 50%;display: none;width: 500px;height: 300px;background-color: white;margin-left: -250px;margin-top: -150px; text-align: center;}
.popupView #pwin{margin-top: 20px;}
.popupView .closeBtnDiv{overflow: hidden;}
.popupView .closeBtnDiv .closeBtn{float: right;margin-right: 20px;font-size: 50px;}
.popupView h1{margin-top: 5%; }
.papupBack{position: fixed;top:0;left:0;z-index:999;background-color: black;opacity: 0.7;width: 100%;height: 100%;display: none;}


/* ****************** 형준 :: 갤러리 ********************** */
.view-gallery-slide{}
.view-big-gallery-list{background:#eee; padding:10px;}
.view-big-gallery-list li img{max-width:100%; margin:0 auto;}
.view-big-gallery-list .slick-prev, .view-big-gallery-list .slick-next{position:absolute; top:50%; margin-top:-25px; width:50px; height:50px; background:rgba(255,255,255,0.7); border-radius:40px;}
.view-big-gallery-list .slick-prev{left:30px;}
.view-big-gallery-list .slick-next{right:30px;}
.view-small-gallery-list li{position:relative;}
.view-small-gallery-list li img{max-width:96%; margin:0 auto; border:2px solid transparent;}
.view-small-gallery-list li.slick-current img{border:2px solid #888;}
