@charset "UTF-8";
/* *******************************************************
 * filename : content.css
 * description : 전체 컨텐츠 CSS
 * date : 2019-05-22
******************************************************** */

/* ****************** 공통 컨텐츠 클래스 ********************** */
#content-wrapper{padding:100px 0;}
.comm-content-tit{position:relative; font-size:26px; color:#2b2b2b; text-align:center; font-weight:500; padding:20px 0; margin-bottom:50px;}
.comm-content-tit:after{display:block; content:""; width:50px; height:4px; background-color:rgba(254,67,30); position:absolute; bottom:0; left:50%; margin-left:-30px;}

/* 공통 :: PAGING */
.paging{width:100%; text-align:center; margin:30px 0;}
.paging a, .paging span{display:inline-block; vertical-align:middle; width:30px; height:30px; border:1px solid #ddd; text-align:center; font-size:12px; line-height:30px; color:#868686; letter-spacing:-0.25px; margin: 2px 0; background:#fff;}
.paging .cur{border:1px solid #4b4b4b; background-color:#4b4b4b; color:#fff;}
.paging a.paging-arrow{line-height:28px;}
.paging i{vertical-align:middle; color:inherit}

/* 공통 :: SEARCH BOX */
.board-search-box{text-align:center; background-color:#f9f9f9; padding:30px 0; border:1px solid #ddd; }
.board-search-box select{width:20%; max-width:150px; height:40px; border:1px solid #ccc; background-color:#fff; }
.board-search-box .search-word{width:30%; max-width:200px; height:40px; border:1px solid #ccc; border-right:0; padding:0; text-indent:10px; color:#868686; font-size:13px; vertical-align:middle;}
.board-search-box .search-word:focus{color:#333;}
.board-search-box .bbs-search-btn{margin:0px; border:0; min-width:40px; padding:0 5px; height:40px; margin-left:-4px; background:#333; color:#fff; cursor:pointer; vertical-align:top; font-size:14px;}
.board-search-box .bbs-search-btn i{line-height:40px;}

/* 공통 :: Table */
.common-tbl-box{padding:70px 50px; background-color:#f8f8f8;}
.comm-tbl{width:100%; margin:0 auto; background-color:#fff;}
.comm-tbl th, .comm-tbl td{border:1px solid #ddd; padding:15px; text-align:left; font-weight:normal; line-height:20px;}
.comm-tbl tr:first-child th, .comm-tbl tr:first-child td{border-top:2px solid rgba(254,67,30);}
.comm-tbl tr:first-child th, .comm-tbl tr:first-child td{border-top:2px solid rgb(254,67,30);}
.comm-tbl th{font-size:17px; line-height:20px; font-weight:500;}
.comm-tbl input[type='text'], .comm-tbl input[type='password'], .comm-tbl input[type='file'],
.comm-tbl select, .comm-tbl textarea{padding:7px; border:1px solid #ddd; border-radius:4px; width:90%;}
.comm-tbl input[type='text'].short, .comm-tbl input[type='password'].short, .comm-tbl input[type='file'].short{width:30%;}
.comm-tbl input[type='text'].middle, .comm-tbl input[type='password'].middle, .comm-tbl select.middle{width:40%;}
.comm-tbl .comment{padding-top:5px; font-size:12px; color:#888;}
.comm-tbl .none{padding:40px 0; font-size:16px;}
.comm-tbl.type2{width:100%; max-width:none;}
.comm-tbl.type2 th, .comm-tbl.type2 td{padding:10px;}
.comm-tbl.type2 tr:first-child td{border-top:1px solid #ddd;}
.comm-tbl.type2 th{text-align:center; font-size:16px; border-top:2px solid rgba(254,67,30);}
.comm-tbl.type2 td{color:#2b2b2b; font-size:14px; text-align:center;}
.comm-tbl.type2 tr:hover td{background-color:rgba(254,67,30,0.05);}
.comm-tbl .delete-btn{padding: 5px 10px;border-radius: 3px;color:white;background-color: #333}

/* 공통 :: Table :: 버튼 */
.common-tbl-btn-group{padding-top:30px; text-align:center;}
.common-tbl-btn-group.right{text-align:right;}
.common-tbl-btn-group.join-btn-group{display:inline-block; text-align:right; padding-top:0; width:auto; max-width:20%; vertical-align:middle;}
.common-tbl-btn-group > button{width:130px; height:50px; border-radius:5px; font-size:17px; color:#fff; margin:0 10px;}
.common-tbl-btn-group > button.btn-style1{background-color:rgba(254,67,30);}
.common-tbl-btn-group > button.btn-style2{background-color:#444;}
.common-tbl-btn-group > button.btn-style3{background-color:#888;}
.common-tbl-btn-group > button.small{width:100px; height:35px; font-size:15px;}


/* ****************** 웨딩 계산기 ********************** */
.simulator-box{padding:100px 0; text-align:center;}
.simulator-tit{font-size:30px; margin-bottom:15px;}
.simulator-sub-tit{font-size:20px; line-height:30px; color:#bbb; margin-bottom:20px;}
.simulator-con{border:1px solid #ddd; border-radius:10px; padding:25px 15px; max-width:450px; margin:0 auto;}
.simulator-tbl{width:100%; }
.simulator-tbl tr:first-child th, .simulator-tbl tr:first-child td{border-top:0;}
.simulator-tbl th, .simulator-tbl td{padding:10px; border:0;}
.simulator-tbl th{text-align:left; font-size:16px; font-weight:500;}
.simulator-tbl input[type='text'].wedding-date{width:80%;}

.simulator-select-tit{font-size:20px; line-height:30px; color:#2d2d2d; font-weight:500; padding:20px 0;}
.simulator-select-comment{padding:20px; background:#f5f5f5; margin-bottom:50px;}
.simulator-select-txt{padding-left:10px; position:relative; font-size:13px; line-height:20px; }
.simulator-select-txt:before{position:absolute; content:""; width:3px; height:3px; background:#333; border-radius:6px; top:9px; left:0;}
.simulator-select-con{position:relative; margin-bottom:30px;}
.simulator-select-con .none{padding:30px 0; text-align:center; font-size:20px; coloe:#888;}
.simulator-select-group .more-btn{width:40px; height:40px; text-align:center; border:1px solid #ddd; position:absolute; top:-55px; right:0; border-radius:3px; 
background:#f8f8f8 url(/resources/img/more.png) no-repeat center center; background-size:30px;  transition:all 0.5s;}
.simulator-select-group .more-btn:hover{border:1px solid #666; transform:rotate(90deg); transition:all 0.5s; }
/*.simulator-select-group{position:relative; min-height:423px;}
.simulator-select-group-list{position:absolute; height:423px; left:50%;}*/
.simulator-select-list-con{float:left; width:360px; margin:10px 20px; }
.simulator-select-list{box-shadow:3px 3px 5px #ddd; border-radius:3px;}
.simulator-select-img-thum{position:relative; padding-top:61.2%; overflow:hidden;}
.simulator-select-img-thum > span{position:absolute; top:0; left:0; right:0; bottom:0;}
.simulator-select-img-thum > span img{width:100%;}
.simulator-select-list-tit, .simulator-select-list-addr, .simulator-select-list-price, .simulator-select-list-tag{padding:0 20px;}
.simulator-select-list-tit{font-size:18px; line-height:24px; color:#666; font-weight:500; margin:5px 0;}
.simulator-select-list-addr{font-size:13px; line-height:20px; color:#888; margin-bottom:5px;}
.simulator-select-list-price{padding:20px; text-align:right; background:#f5f5f5; color:#666;}
.simulator-select-list-price > b{font-size:18px; font-weight:500;}
.simulator-select-list-tag{padding:10px 20px; color:#888; line-height:20px;}
.simulator-select-btn-group{padding:15px 10px; text-align:center;}
.simulator-select-btn-group > button{width:150px; height:35px; border-radius:3px; border:1px solid #ddd; margin:0 7px; font-size:14px; color:#666; font-weight:500; 
background-color:#fff; transition:all 0.3s;}
.simulator-select-btn-group > button:hover{background-color:#666; color:#fff; transition:all 0.3s;}
.slick-prev.slick-arrow, .slick-next.slick-arrow{position:absolute; top:50%; margin-top:-13px; z-index:9;}
.slick-prev.slick-arrow{left:-30px;}
.slick-next.slick-arrow{right:-30px;}
