@charset "UTF-8";
/* *******************************************************
 * filename : layout.css
 * description : 전체 레이아웃 CSS
 * date : 2019-06-28
******************************************************** */

@import url("/resources/css/font.css");	/* 나눔고딕 & 본고딕 */

/* layout */
body, table, th, td, button, select, input, textarea {
	font-family:'Noto Sans KR', "나눔고딕", NanumGothic, "Nanum Gothic","돋움", Dotum, Arial, sans-serif;
	font-size:13px;
	color:black;
}

body {width:100%; background-color:#fff;}
#wrap {overflow:hidden; width:100%; min-width:1200px; position:relative; } /* min-width 홈페이지 컨텐츠 가로값에 맞게 변경 */

/* ****************** 공통클래스 ********************** */
.area{ max-width:1200px; margin:0px auto 50px;} /* width 홈페이지 컨텐츠 가로값에 맞게 변경 */
.clearfix{*zoom:1;}
.clearfix:after{clear:both; display:block; content:"";}
.fr{float:right;}
.fl{float:left;}

/* 버튼 효과 */
@-webkit-keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}

@keyframes criss-cross-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    width: 375px;
    height: 375px;
  }
}
@-webkit-keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}
@keyframes criss-cross-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    width: 375px;
    height: 375px;
  }
}

.btn-effect01:before, .btn-effect01:after {
  position: absolute;
  top: 50%;
  content: '';
  width: 20px;
  height: 20px;
  /*background-color: #f36f21;*/
  background-color:rgba(243,111,33,0.6);
  border-radius: 50%;
}
.btn-effect01:before {
  left: -20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.btn-effect01:after {
  right: -20px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

/* 달력 */
/*datepicer 버튼 롤오버 시 손가락 모양 표시*/
.ui-datepicker-trigger{cursor: pointer;}
/*datepicer input 롤오버 시 손가락 모양 표시*/
.hasDatepicker{cursor: pointer;}

/* ****************** Header ********************** */
#header{position:relative; width:100%; }
#headerInner{position:relative; padding:0 20px;}
#header .header-logo{position:relative; z-index:100; text-align:center; margin-bottom:10px;}
#header .header-logo a{}

/* header :: 부가 메뉴 */
.header-util{position:relative; z-index:100; padding:15px 0; text-align:right;}
.header-util-box > li{display:inline-block; margin-left:30px;}
.header-util-box > li a{line-height:20px; color:#2d2d2d;}

/* ****************** GNB ********************** */
#gnbBg{display:none; position:absolute; left:0; top:70px; width:100%; height:200px; background:#f5f5f5; z-index:98;}
#gnb{position:relative; left:0; top:0; width:100%; z-index:99;}
#gnb > ul{text-align:center;}
#gnb > ul > li{position:relative; display:inline-block; min-width:230px;}
#gnb > ul > li > a{position:relative; z-index:100; display:block; height:70px; line-height:70px; text-align:center; font-size:18px; font-weight:500;}

/* GNB :: 2차 전체메뉴 */
#gnb > ul > li .gnb-2dep{display:none; position:absolute; top:70px; left:0; z-index:99; width:100%; height:200px; text-align:center;}
#gnb > ul > li .gnb-2dep ul{padding:15px 0;}
#gnb > ul > li .gnb-2dep ul li{position:relative; padding:10px;}
#gnb > ul > li .gnb-2dep ul li a{display:block; text-align:center; font-size:16px; color:#333; font-weight:500;}

/* ****************** 서브비주얼 ********************** */
#subVisual{width:100%; height:200px; background:url(/resources/img/sub_visual03.jpg) no-repeat center center;}

/* ****************** Footer ********************** */
#footer{padding:20px 30px; background-color:#333; text-align:center;}
.footer-inner{margin-bottom:0;}
.footer-inner > img{max-height:47px;}
.footer-inner > p{padding-top:25px; color:#fff; opacity:0.6; letter-spacing:1.5px;}

/* ****************** 관리자 & 마이페이지 ********************** */
#adminWrap{padding-top:150px; width:calc(100% - 300px); float:right;}
#sideMenuBar{width:300px; height:100%; position:fixed; border-right:1px solid #ddd; z-index:9;}
.top-side-box{background:#F1F1F1; padding:15px; border-bottom:1px solid #ddd;}
.top-side-box > dl{padding-bottom:15px; display:table; width:100%;}
.top-side-box > dl dt, .top-side-box > dl dd{display:table-cell; vertical-align:middle;}
.top-side-box > dl dt{width:60px;}
.top-side-box > dl dd{padding-left:10px;}
.top-side-box > dl dd p, .top-side-box > dl dd strong{display:block; font-size:13px; line-height:20px;}
.top-side-box > dl dd strong{font-size:15px;}
.bottom-side-box{padding:15px;}
.side-bar-list{}
.side-bar-list > li{padding:10px 0; border-bottom:1px solid #ddd;}
.side-bar-list > li p{font-size:12px; line-height:30px; color:#888;}
.side-bar-list > li span{margin-right:5px;}
.side-bar-list > li span > a{font-size:15px; color:#333; line-height:30px;}

#adminHeader{width:calc(100% - 300px); padding:10px 0; background:#fff; position:fixed; top:0; right:0; text-align:center; border-bottom:1px solid #ddd;}
#myPageContainer{padding:10px;}

/* ****************** Main :: Visual ********************** */
#mainVisual{width:100%; height:820px; background:#fff; text-align:center; font-size:36px; overflow:hidden; position:relative; max-height:820px;}


/* ****************** Main :: mainContainer ********************** */
#mainContainer{padding-top:50px;}
#mainContainer > div{}
.main-comm-tit{position:relative; font-size:30px; color:#2b2b2b; text-align:center; font-weight:500; padding:20px 0; margin-bottom:30px;}
.main-comm-tit:after{display:block; content:""; width:60px; height:5px; background-color:rgba(254,67,30); position:absolute; bottom:0; left:50%; margin-left:-30px;}
.main-comm-tit.type2{position:relative; font-size:24px; color:#2b2b2b; lett-spacing:-0.5px; text-align:left; font-weight:500; padding:20px 0; margin-bottom:35px;}
.main-comm-tit.type2:after{display:block; content:""; width:40px; height:3px; background-color:rgba(254,67,30); position:absolute; bottom:0; left:0; margin-left:0;}

